version: 2.2

jobs:
   centos7:
     docker:
       - image: centos:7
     steps:
       - checkout
       - restore_cache:
          keys: 
               - v1-dependencies
       - run:
          name: check build tools
          command: |
               set +e
               date
               yum install -y centos-release-scl git wget
               yum-config-manager --enable rhel-server-rhscl-7-rpms
               echo "repo setup"
               echo "yum install -y devtoolset-8 m4 autoconf automake | cat" | bash
               echo "install done"
               source ci_centos7_build_environment.sh
               echo "environment done"
               bash check_build_environment.sh || exit 1
               cd $EXECDIR

       - run: 
          name: Install act dependencies
          command: |
              echo $ACT_HOME
              set +e
              source ci_centos7_build_environment.sh
              bash yale-asyncvlsi-act-dependencies.sh || exit 1
              cd $EXECDIR
              
       - save_cache:
          key: v1-dependencies
          paths:
              - /var/cache/yum
              - $CIRCLE_WORKING_DIRECTORY/src/libedit
              - $CIRCLE_WORKING_DIRECTORY/src/ncurses
              - $CIRCLE_WORKING_DIRECTORY/src/zlib
       - run: 
          name: Install act
          command: |
              set +e
              source ci_centos7_build_environment.sh
              bash yale-asyncvlsi-act.sh || exit 1
              cd $EXECDIR
       - run: 
          name: Install act stdlib
          command: |
              set +e
              source ci_centos7_build_environment.sh
              bash yale-asyncvlsi-stdlib.sh || exit 1
              cd $EXECDIR
       - run: 
          name: Install rug dataflow classic lib
          command: |
              set +e
              source ci_centos7_build_environment.sh
              bash rug-bics-actlib_dataflow_neuro.sh || exit 1
              cd $EXECDIR
       - run: 
          name: Install expropt com (if availble)
          command: |
              set +e
              source ci_centos7_build_environment.sh
              bash yale-avlsi-expropt.sh || exit 1
              cd $EXECDIR
       - run: 
          name: Install expropt dependencies (if nessesary)
          command: |
              set +e
              source ci_centos7_build_environment.sh
              bash yale-asyncvlsi-expropt-dependencies.sh || exit 1
              cd $EXECDIR  
       - run: 
          name: Install expropt (if availble)
          command: |
              set +e
              source ci_centos7_build_environment.sh
              bash yale-asyncvlsi-expropt.sh || exit 1
              cd $EXECDIR   
       - run: 
          name: Install chp2prs
          command: |
              set +e
              source ci_centos7_build_environment.sh
              bash yale-asyncvlsi-chp2prs.sh || exit 1
              cd $EXECDIR
       - run: 
          name: Install interact
          command: |
              set +e
              source ci_centos7_build_environment.sh
              bash yale-asyncvlsi-interact.sh || exit 1
              cd $EXECDIR
       - run: 
          name: test act
          command: |
              set +e
              source ci_centos7_test_environment.sh
              bash yale-asyncvlsi-act-test.sh || exit 1
              cd $EXECDIR
       - run: 
          name: test chp2prs
          command: |
              set +e
              source ci_centos7_test_environment.sh
              bash yale-asyncvlsi-chp2prs-test.sh || exit 1
              cd $EXECDIR
              
# package and upload

workflows:
   version: 2
   build:
     jobs: 
        - centos7
   nightly:
    triggers:
     - schedule:
         # Every day, 0421Z.
         cron: "30 8 * * *"
         filters:
           branches:
             only:
               - main
    jobs:     
      - centos7

